/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ---------------------- */

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    height: 50px;
    padding: 0px 100px;
}

header h1 {
    font-size: 18px;
    color: #f9faf8;
    font-weight: 600;
}

.hnav {
    display: flex;
    font-size: 14px;
    align-items: center;
    color: #e5e7eb;
    gap: 15px;
}

.hero {
    display: flex;
    padding: 80px 100px;
    background-color: #1f2937;
    justify-content: space-between;

}

.left h1 {
    color: #f9faf8;
    font-weight: 700;
    font-size: 40px;
    width: 300px;
}

.left p {
    color: #e5e7eb;
    font-size: 16px;
    width: 500px;
}

.left button {
    padding: 2px 25px;
    background-color: rgb(41, 122, 221);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    margin-top: 10px;

}

.right .box {
    background-color: rgba(255, 255, 255, 0.243);
    color: white;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}
